html,
body {
	width:100%;
	height:100%;
	font-family:'Arial',sans-serif;
	font-size:20px;
	margin:0;
	padding:0;
	}

div {
	display:block;
	float:left;
	margin:0;
	padding:0;
	}

#container {
	width:100%;
	height:100%;
	}

/*	TITLE & NAVIGATION
	----------------------------- */

.nav {
	position:absolute;
	color:white;
	fill:white;
	letter-spacing:0.025rem;
	}

#title {
	font-size:0.8rem;
	left:15px;
	top:24px;
	}

#menu {
	}

#menu .btn {
	position:absolute;
	color:white;
	font-size:0.6rem;
	/*padding:6px 15px;*/
	top:54px;
	border:1px solid white;
	cursor:pointer;
	}
#menu .btn.view {
	padding:6px 0 6px 30px;
	width:90px;
	border-radius:15px;
	}
#menu .btn.filter {
	opacity:1;
	background:url(../assets/icon_filter.svg) no-repeat 6px 5px;
	background-size:16px 16px;
	background-color:transparent;
	padding:6px 0 6px 30px;
	width:90px;
	}
#menu .btn.filter.selected {
	opacity:1;
	background-color:white;
	}
#menu .btn.filter.deactivated {
	opacity:0.5;
	pointer-events:none;
	}
#menu .btn.clear {
	opacity:0;
	visibility:hidden;
	font-size:0.4rem;
	text-transform:uppercase;
	left:420px;
	top:66px;
	padding:3px 6px 2px;
	border-radius:9px;
	}
#menu .btn.clear.visible {
	opacity:1;
	visibility:visible;
	}

#menu .btn.filter#gender {
	left:15px;
	}

#menu .btn.filter#country {
	left:150px;
	}

#menu .btn.filter#grade {
	left:285px;
	}

#menu .btn#mode {
	background:url(../assets/icon_switch.svg) no-repeat 6px 5px;
	background-size:16px 16px;
	right:15px;
	}

#menu .btn#add {
	background:url(../assets/icon_add.svg) no-repeat 8px 6px;
	background-size:14px 14px;
	right:15px;
	top:90px;
	}

#anno {
	width:500px;
	font-size:0.6rem;
	right:15px;
	bottom:24px;
	}

#anno #comment {
	font-family:'Georgia', serif;
	padding-bottom:15px;
	}

#anno #detail {
	width:100%;
	padding-top:15px;
	border-top:1px solid white;
	}

/*	FORM
	----------------------------- */

.form {
	visibility:visible;
	opacity:1;
	position:absolute;
	background:white;
	width:500px;
	margin:0 auto;
	}
.form.hidden {
	visibility:hidden;
	opacity:0;
	}

.form select {
	width:120px;
	}

.form button {
	cursor:pointer;
	}

.form .section {
	width:100%;
	padding:30px 0;
	border-top:1px solid gray;
	}

.form .elem {
	padding:30px 24px;
	font-size:0.6rem;
	}

.form .elem.header {
	font-size:1rem;
	margin-left:24px;
	padding:24px 0;
	}

.form .row {
	width:100%;
	float:left;
	}

.form .tag {
	color:gray;
	font-size:0.5rem;
	letter-spacing:1px;
	text-transform:uppercase;
	}

#form {
	height:400px;
	}

#form_tweet {
	height:250px;
	}

/*	VIS
	----------------------------- */

svg {
	display:block;
	background:blue;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	shape-rendering:geometricPrecision;
	}

.hexTTG {
	opacity:1;
	pointer-events:none;
	}
.hexTTG.hidden {
	opacity:0;
	}
.hexTTG .hexTTback {
	}
.hexTTG .hexTT {
	fill:white;
	stroke-width:3;
	}

.hex {
	fill:white;
	stroke:white;
	stroke-width:0.5;
	stroke-opacity:1;
	cursor:pointer;
	}