@font-face {
  font-family:'FuturaLT-Book';
  src: url('../fonts/FuturaLT-Book.ttf');
}
@font-face {
  font-family:'FuturaLT-Light';
  src: url('../fonts/FuturaLT-Light.ttf');
}

html,
body {
	width:100%;
	height:100%;
	font-family:'FuturaLT-Book','Arial',sans-serif;
	font-size:20px;
	margin:0;
	padding:0;
	}

svg {
	fill-opacity:0.8;
	}

div {
	display:block;
	float:left;
	margin:0;
	padding:0;
	}

.b {
	font-weight:bold;
	}

#container {
	width:100%;
	height:100%;
	}

/*	TITLE & NAVIGATION
	----------------------------- */

.nav {
	position:absolute;
	color:white;
	fill:white;
	letter-spacing:0.025rem;
	}

#logo {
	opacity:1;
	background:transparent;
	background:url(../assets/logo.svg) no-repeat 45px 30px;
	background-size:45px 45px;
	display:block;
	width:90px;
	height:90px;
	top:0;
	right:15px;
	}
#logo:hover {
	opacity:0.6;	
	}
#logo a {
	cursor:pointer;
	}

#logo_tweet {
	opacity:1;
	background:transparent;
	background:url(../assets/icon_twitter.svg) no-repeat 0 0;
	background-size:18px 18px;
	width:18px;
	height:18px;
	top:168px;
	right:15px;
	cursor:pointer;
	}
#logo_tweet:hover {
	opacity:0.6;
	}

#title {
	display:block;
	font-size:1.8rem;
	left:15px;
	top:24px;
	}

#menu {
	z-index:10;
	position:absolute;
	width:auto;
	height:auto;
	}

#menu .btn {
	opacity:1;
	position:fixed;
	color:white;
	font-size:0.725rem;
	/*padding:6px 15px;*/
	top:90px;
	border:1px solid white;
	cursor:pointer;
	}
#menu .btn:hover {
	opacity:0.6;
	}
#menu .btn.view {
	display:block;
	padding:4px 0 6px 30px;
	width:120px;
	height:18px;
	border-radius:15px;
	}
#menu .btn.filter {
	opacity:1;
	background-image:url(../assets/icon_filter.svg);
	background-repeat:no-repeat;
	background-size:15px 15px;
	background-position:6px 6px;
	padding:4px 0 6px 33px;
	width:135px;
	height:30px;
	font-size:0.725rem;
	letter-spacing:0.025rem;
	border:1px solid white;
	/*border:none;
	border-radius:15px;*/
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	}
#menu .btn.filter.selected {
	opacity:1;
	background-color:white;
	background-size:17px 17px;
	background-position:6px 6px;
	}
#menu .btn.filter.selected.math {
	background-image:url(../assets/icon_filter_math.svg);
	}
#menu .btn.filter.selected.science {
	background-image:url(../assets/icon_filter_science.svg);
	}
#menu .btn.filter.deactivated {
	opacity:0.5;
	pointer-events:none;
	}
#menu .btn.clear {
	display:none;
	font-size:0.35rem;
	text-transform:uppercase;
	letter-spacing:0.05em;
	line-height:2.5em;
	left:450px;
	top:90px;
	bottom:auto;
	padding:0 12px;
	border-radius:12px;
	}
#menu .btn.clear.visible {
	display:block;
	}

#menu .btn.filter#gender {
	left:15px;
	}

#menu .btn.filter#country {
	left:156px;
	}

#menu .btn.filter#grade {
	left:297px;
	}

#menu .btn#mode {
	background:url(../assets/icon_switch.svg) no-repeat 6px 5px;
	background-size:16px 16px;
	right:15px;
	top:90px;
	}

#menu .btn#add {
	display:block;
	background:url(../assets/icon_add.svg) no-repeat 8px 6px;
	background-size:14px 14px;
	right:15px;
	top:125px;
	}

#anno {
	background:transparent;
	width:500px;
	font-size:0.55rem;
	right:15px;
	bottom:24px;
	padding:0;
	pointer-events:none;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	}

#anno #comment,
#anno .comment {
	position:absolute;
	font-family:'Georgia', serif;
	bottom:24px;
	padding-top:30px;
	padding-bottom:15px;
	}

#anno #detail {
	width:100%;
	padding-top:6px;
	padding-bottom:0;
	border-top:1px solid white;
	}

#arrows {
	width:100%;
	top:50%;
	}

#legend {
	position:fixed;
	display:block;
	z-index:100;
	font-size:0.55rem;
	margin-left:15px;
	bottom:30px;
	cursor:pointer;
	}
#legend.expanded {
	width:351px;
	}
#legend.show {
	bottom:126px;
	}

#legend svg {
	background:transparent;
	}

#legend .comp {
	position:fixed;
	}
#legend #legend_tab {
	background-image:url(../assets/legend_arrows.svg);
	background-position:9px 2px;
	background-repeat:no-repeat;
	background-size:10px 24px;
	margin:9px 9px 0 0;
	padding-left:24px;
	}
#legend.show #legend_tab{
	background-position:9px -16px;
	}
#legend #legend_body {
	fill:transparent;
	stroke:white;
	stroke-width:2;
	width:180px;
	}
#legend.expanded #legend_body {
	width:360px;
	}

.legend_bknd {
	position:absolute;
	background:transparent;
	}

.legend_g {
	display:none;
	}
.legend_g.show {
	display:block;
	}

.legend_g_txt {
	font-size:0.5rem;
	stroke:none;
	fill:white;
	}

.legend_g_line {
	stroke:white;
	stroke-width:1;
	}

#legend .legend_hex {
	fill:white;
	stroke:white;
	stroke-width:0.5;
	stroke-opacity:1;
	}
#legend .legend_hex_txt {
	font-size:0.4rem;
	text-anchor:middle;
	fill:white;
	stroke:none;
	}
#legend .legend_hex_arr {
	stroke:white;
	stroke-width:0.5;
	}

#sampled {
	display:none;
	font-family:'FuturaLT-Light';
	font-size:0.5rem;
	font-style:italic;
	top:135px;
	left:15px;
	}
#sampled.visible {
	display:block;
	}

#arrows .arrow {
	display:none;
	position:absolute;
	background-image:url(../assets/grade_arrows.svg);
	background-repeat:no-repeat;
	background-size:14px 180px;
	background-position:36px 9px;
	width:45px;
	font-size:0.65rem;
	top:50%;
	padding:60px 15px 0;
	cursor:pointer;
	}
#arrows .arrow.visible {
	display:block;
	}
#arrows .arrow#left {
	background-position:24px -124px;
	text-align:left;
	left:0;
	}
#arrows .arrow#right {
	background-position:36px 9px;
	text-align:right;
	right:0;
	}

/*	TITLE & NAVIGATION -- MOBILE
	----------------------------- */

.nav_mobile {
	display:none;
	}

.nav_mobile #hamburger {
	z-index:50;
	position:fixed;
	background:white;
	width:42px;
	height:42px;
	right:30px;
	top:30px;
	border:2px solid black;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	cursor:pointer;
	}
.nav_mobile #hamburger.xout {
	background:black;
	}

.nav_mobile .btn {
	position:fixed;
	font-size:0.7rem;
	cursor:pointer;
	}
.nav_mobile .btn.mobile {
	left:15px;
	padding:6px 15px 6px 0;
	border-radius:15px;
	}
.nav_mobile #mode_mobile {
	z-index:70;
	background:url(../assets/icon_switch.svg) no-repeat 7px 6px;
	background-size:16px 16px;
	top:15px;
	padding-left:30px;
	}
.nav_mobile #mode_mobile .mode_cur,
.nav_mobile #mode_mobile .mode_opp {
	font-weight:bold;
	}
.nav_mobile #comments {
	z-index:70;
	background:none;
	top:54px;
	padding-left:9px;
	}

.nav_mobile#comments_panel {
	display:none;
	width:100%;
	height:100%;
	}

.nav_mobile#comments_panel .panel {
	z-index:60;
	position:relative;
	background:white;
	width:100%;
	height:auto;
	}

.nav_mobile#comments_panel .panel .comment_block {
	float:left;
	width:100%;
	font-size:0.6rem;
	font-family:'Georgia', serif;
	padding:15px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	}

.nav_mobile#comments_panel .panel .comment_block span {
	float:left;
	width:100%;
	}
.nav_mobile#comments_panel .panel .comment_block span.mobile_comment_user {
	font-family:sans-serif;
	font-weight:bold;
	padding-bottom:6px;
	}

/*	FORM
	----------------------------- */

textarea,
select,
input {
	outline:none;
	}

.form {
	display:block;
	position:absolute;
	background:white;
	width:500px;
	margin:0 auto;
	box-shadow: 0 0 30px rgba(0,0,0,0.25);
	}
.form.hidden {
	display:none;
	}

.form select {
	background:transparent;
	width:120px;
	border:none;
	cursor:pointer;
	}
.form .input.select {
	background:white;
	border:1px solid black;
	}

.form button {
	background:black;
	color:white;
	font-family:'FuturaLT-Book';
	font-size:0.65rem;
	padding:5px 30px 4px;
	border:none;
	border-radius:15px;
	cursor:pointer;
	}

.form textarea {
	height:100%;
	padding-left:6px;
	border:1px solid black;
	resize:none;
	}
.form textarea.body {
	width:100%;
	width:calc(100% - 12px);
	padding-bottom:36px;
	}

input[type=radio]:not(old){
	width:18px;
	opacity:0;
	margin:0;
	padding:0;
	cursor:pointer;
	}
input[type=radio]:not(old) + label{
	display:inline-block;
	margin-left:-18px;
	padding-left:18px;
	background-image:url(../assets/icon_radio.svg);
	background-size:13px 30px;
	background-position:0 0;
	background-repeat:no-repeat;
	line-height:15px;
	}
input[type=radio]:not(old):checked + label{
	background-position:0 -17px;
	}

input.second {
	margin-left:15px !important;
	}

.form .section {
	width:100%;
	padding:30px 0;
	border-top:1px solid #eee;
	}
.form .section:last-child {
	text-align:center;
	padding-top:0;
	border-top:none;
	}

.form .elem {
	padding:30px 24px;
	font-size:0.6rem;
	}

.form .elem.header {
	font-size:1rem;
	font-weight:bold;
	letter-spacing:0.05em;
	margin-left:24px;
	padding:24px 0;
	}

.form .row {
	width:100%;
	float:left;
	padding:6px 0;
	}

.form .tag {
	float:left;
	color:#aaa;
	font-size:0.45rem;
	font-weight:bold;
	letter-spacing:0.125em;
	text-transform:uppercase;
	}

.form .input {
	position:absolute;
	line-height:1rem;
	margin-top:-0.6rem;
	left:300px;
	}

#form {
	height:auto;
	}
#form .section.mid {
	padding-bottom:15px;
	}

#form_tweet {
	height:auto;
	}
#form_tweet .section:first-child {
	padding-bottom:21px;
	}

.input.gender {
	margin-left:-2px;
	}

/*	HEXAGONS
	----------------------------- */

svg {
	display:block;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	shape-rendering:geometricPrecision;
	}

.hexTTG {
	opacity:1;
	pointer-events:none;
	}
.hexTTG.hidden {
	opacity:0;
	}
.hexTTG .hexTTback {
	}
.hexTTG .hexTT {
	fill:white;
	stroke-width:3;
	}

.hexG {
	fill:white;
	text-anchor:middle;
	}

.hexesGT {
	text-anchor:start;
	font-size:0.8rem;
	}
.hexesGGT {
	font-size:0.6rem;
	}

.hex {
	fill:white;
	stroke:white;
	stroke-width:0.5;
	stroke-opacity:1;
	cursor:pointer;
	}

/*	FLUIDITY
	----------------------------- */

@media (max-width:768px) { 
	/* smartphones, iPhone, portrait 480x320 phones */

	.nav_mobile {
		display:block;
		}

	#anno {
		width:100%;
		font-size:0.8rem;
		right:0;
		bottom:0;
		padding:15px;
		}
	#anno #comment,
	#anno .comment {
		position:static;
		}
	#anno #detail {
		padding-bottom:15px;
		border-top:none;
		}

	#sampled,
	#sampled.visible {
		display:none;
		}
	#title,
	#logo,
	#logo_tweet {
		display:none;
		}

	#menu {
		display:none;
		width:100%;
		height:100%;
		}
	
	#menu .btn.view {
		display:none;
		}

	#menu .btn.filter {
		background-image:url(../assets/icon_filter.svg);
		background-size:30px 30px;
		background-position:12px 24px;
		width:80%;
		width:calc(100% - 36px);
		height:auto;
		font-size:1.325rem;
		padding:21px 0 20px 60px;
		border:2px solid white;
		/*border:none;
		border-radius:60px;*/
		}
	#menu .btn.filter.selected {
		background-size:36px 36px;
		background-position:10px 22px;
		}
	#menu .btn.filter.selected.math {
		background-image:url(../assets/icon_filter_math.svg);
		}
	#menu .btn.filter.selected.science {
		background-image:url(../assets/icon_filter_science.svg);
		}

	#menu .btn.filter#gender {
		left:18px;
		top:120px;
		}
	#menu .btn.filter#country {
		left:18px;
		top:210px;
		}
	#menu .btn.filter#grade {
		left:18px;
		top:300px;
		}

	#menu .btn#add {
		display:none;
		}

	#menu .btn.clear {
		display:none;
		font-size:1rem;
		left:15px;
		top:auto;
		bottom:30px;
		border-radius:30px;
		}
	#menu .btn.clear.visible {
		display:block;
		}

	#legend {
		display:none;
		}

	.hexesGT {
		text-anchor:end;
		}
	}

@media (min-width:768px) { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	
	.nav_mobile {
		display:none;
		}

	#anno {
		background:transparent;
		width:300px;
		font-size:0.55rem;
		right:15px;
		bottom:24px;
		padding:0;
		}
	#anno #comment,
	#anno .comment {
		position:absolute;
		}
	#anno #detail {
		padding-bottom:0;
		border-top:1px solid white;
		}

	#sampled {
		top:240px;
		}
	#sampled.visible {
		display:block;
		}

	#title,
	#logo,
	#logo_tweet {
		display:block;
		}

	#menu {
		width:auto;
		height:auto;
		}
	
	#menu .btn.view {
		display:block;
		}

	#menu .btn.filter {
		background-image:url(../assets/icon_filter.svg);
		background-size:15px 15px;
		background-position:6px 6px;
		width:135px;
		height:30px;
		font-size:0.725rem;
		padding:4px 0 6px 33px;
		border:1px solid white;
		/*border:none;
		border-radius:15px;*/
		}	
	#menu .btn.filter.selected {
		background-size:17px 17px;
		background-position:6px 6px;
		}
	#menu .btn.filter.selected.math {
		background-image:url(../assets/icon_filter_math.svg);
		}
	#menu .btn.filter.selected.science {
		background-image:url(../assets/icon_filter_science.svg);
		}

	#menu .btn.filter#gender {
		left:15px;
		top:90px;
		}
	#menu .btn.filter#country {
		left:15px;
		top:162px;
		}
	#menu .btn.filter#grade {
		left:15px;
		top:126px;
		}

	#menu .btn#add {
		display:block;
		}

	#menu .btn.clear {
		display:none;
		font-size:0.35rem;
		left:15px;
		top:214px;
		bottom:auto;
		border-radius:12px;
		}
	#menu .btn.clear.visible {
		display:block;
		}

	#legend {
		display:block;
		}

	.hexesGT {
		text-anchor:end;
		}
	}

@media (min-width:1024px) { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	
	.nav_mobile {
		display:none;
		}

	#anno {
		background:transparent;
		width:500px;
		font-size:0.55rem;
		right:15px;
		bottom:24px;
		padding:0;
		}
	#anno #comment,
	#anno .comment {
		position:absolute;
		}
	#anno #detail {
		padding-bottom:0;
		border-top:1px solid white;
		}

	#sampled {
		top:135px;
		}
	#sampled.visible {
		display:block;
		}

	#title,
	#logo,
	#logo_tweet {
		display:block;
		}

	#menu {
		width:auto;
		height:auto;
		}
	
	#menu .btn.view {
		display:block;
		}

	#menu .btn.filter {
		background-image:url(../assets/icon_filter.svg);
		background-size:15px 15px;
		background-position:6px 6px;
		width:135px;
		height:30px;
		font-size:0.725rem;
		padding:4px 0 6px 33px;
		border:1px solid white;
		/*border:none;
		border-radius:15px;*/
		}
	#menu .btn.filter.selected {
		background-size:17px 17px;
		background-position:6px 6px;
		}
	#menu .btn.filter.selected.math {
		background-image:url(../assets/icon_filter_math.svg);
		}
	#menu .btn.filter.selected.science {
		background-image:url(../assets/icon_filter_science.svg);
		}

	#menu .btn.filter#gender {
		left:15px;
		top:90px;
		}
	#menu .btn.filter#country {
		left:156px;
		top:90px;
		}
	#menu .btn.filter#grade {
		left:297px;
		top:90px;
		}

	#menu .btn#add {
		display:block;
		}

	#menu .btn.clear {
		display:none;
		font-size:0.35rem;
		left:450px;
		top:90px;
		bottom:auto;
		border-radius:12px;
		}
	#menu .btn.clear.visible {
		display:block;
		}

	#legend {
		display:block;
		}

	.hexesGT {
		text-anchor:start;
		}
	}