@font-face {
  font-family:'FuturaLT-Book';
  src: url('../fonts/FuturaLT-Book.ttf');
}
@font-face {
  font-family:'FuturaLT-Light';
  src: url('../fonts/FuturaLT-Light.ttf');
}

/*	PALETTE

	M 	#6698b1
	S 	#9f518f
	
	Legend ==>

	M 	#52849d
	S	#8b3d7b

	*/

html,
body {
	width:100%;
	height:100%;
	font-family:'FuturaLT-Book','Arial',sans-serif;
	font-size:20px;
	margin:0;
	padding:0;
	}

svg {
	display:block;
	width:100%;
	height:100%;
	fill-opacity:0.8;
	margin:0;
	padding:0;
	shape-rendering:geometricPrecision;
	}
.math svg {
	background:#6698b1;
	}
.science svg {
	background:#9f518f;
	}

div {
	display:block;
	float:left;
	margin:0;
	padding:0;
	}

p {
	margin:0;
	padding:0;
	}

.b {
	font-weight:bold;
	}

#container {
	width:100%;
	height:100%;
	}

/*	TITLE & NAVIGATION
	----------------------------- */

.nav {
	position:absolute;
	color:white;
	fill:white;
	letter-spacing:0.025rem;
	}

.nav.link {
	opacity:1;
	background:transparent;
	display:block;
	width:45px;
	height:90px;
	top:0;
	}
.nav.link:hover {	
	opacity:0.6;
	cursor:pointer;
	}

#logo {
	background:url(../assets/logo.svg) no-repeat 0 30px;
	background-size:45px 45px;
	right:117px;
	}
#cir_twitter {
	background:url(../assets/icon_circle_twitter.svg) no-repeat 0 30px;
	background-size:45px 45px;
	right:66px;
	}
#cir_fb {
	background:url(../assets/icon_circle_fb.svg) no-repeat 0 30px;
	background-size:45px 45px;
	right:15px;
	}

#title {
	display:block;
	font-size:1.8rem;
	left:15px;
	top:24px;
	pointer-events:none;
	}

#menu {
	z-index:10000;
	position:absolute;
	width:auto;
	height:auto;
	}
.math #menu {
	background:rgba(102, 152, 177, 0.8);
	}
.science #menu {
	background:rgba(159, 81, 143, 0.8);
	}

#menu .btn {
	opacity:1;
	position:fixed;
	color:white;
	font-size:0.725rem;
	/*padding:6px 15px;*/
	top:90px;
	border:1px solid white;
	cursor:pointer;
	}
#menu .btn:hover span {
	opacity:0.75;
	}
#menu .btn.view {
	display:block;
	padding:4px 0 6px 30px;
	width:120px;
	height:18px;
	border-radius:15px;
	}
#menu .btn.filter {
	opacity:1;
	background-image:url(../assets/icon_filter.svg);
	background-repeat:no-repeat;
	background-size:15px 15px;
	background-position:6px 6px;
	padding:4px 0 6px 33px;
	width:135px;
	height:30px;
	font-size:0.725rem;
	letter-spacing:0.025rem;
	border:1px solid white;
	/*border:none;
	border-radius:15px;*/
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	}
#menu .btn.filter.selected {
	opacity:1;
	background-color:white;
	background-size:17px 17px;
	background-position:6px 6px;
	}
.math #menu .btn.filter.selected {
	background-image:url(../assets/icon_filter_math.svg);
	color:#52849d;
	}
.science #menu .btn.filter.selected {
	background-image:url(../assets/icon_filter_science.svg);
	color:#8b3d7b;
	}
#menu .btn.filter.deactivated {
	opacity:0.5;
	pointer-events:none;
	}
#menu .btn.clear {
	display:none;
	font-size:0.4rem;
	text-transform:uppercase;
	letter-spacing:0.05em;
	line-height:2.5em;
	left:450px;
	top:90px;
	bottom:auto;
	padding:0 12px;
	border-radius:12px;
	}
#menu .btn.clear.visible {
	display:block;
	}

#menu .btn.filter .expand {
	z-index:1000;
	position:absolute;
	display:none;
	opacity:0;
	min-width:135px;
	min-height:30px;
	max-height:180px;
	width:135px;
	height:auto;
	list-style-type:none;
	left:-1px;
	top:29px;
	padding:45px 0 12px;
	overflow-x:hidden;
	overflow-y:scroll;
	border:1px solid white;
	border-top:none;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	}
#menu .btn.filter .expand .counter {
	position:fixed;
	opacity:1;
	color:white !important;
	font-size:0.5rem;
	font-style:italic;
	margin-top:-45px;
	padding:12px 24px 12px 12px;
	text-transform:uppercase;
	}
#menu .btn.filter .expand .counter #country_count {
	opacity:1;
	}

.math #menu .btn.filter .expand .counter {
	background:#52849d;
	}

.science #menu .btn.filter .expand .counter {
	background:#8b3d7b;
	}

.math #menu .btn.filter .expand {
	background:#6698b1;
	}
.science #menu .btn.filter .expand {
	background:#9f518f;
	}

#menu .btn.filter:hover .expand {
	display:block;
	opacity:1;
	}
#menu .btn.filter.selected .expand li.option {
	color:white;
	font-style:normal;
	}
#menu .btn.filter .expand li.option {
	padding:3px 12px;
	}
#menu .btn.filter .expand li.option:hover,
#menu .btn.filter .expand li.option.selected {
	background:white;
	}
#menu .btn.filter .expand li.option.selected {
	font-style:italic;
	}
/*#menu .btn.filter .expand li.option.selected::before {
	content:'•';
	}*/
.math #menu .btn.filter .expand li.option:hover,
.math #menu .btn.filter .expand li.option.selected {
	color:#52849d;
	}
.science #menu .btn.filter .expand li.option:hover,
.science #menu .btn.filter .expand li.option.selected {
	color:#8b3d7b;
	}

#menu .btn.filter#gender {
	left:15px;
	}
#menu .btn.filter#grade {
	left:156px;
	}
#menu .btn.filter#country {
	display:block;
	left:297px;
	}

#menu .btn#mode {
	background:url(../assets/icon_switch.svg) no-repeat 6px 5px;
	background-size:16px 16px;
	right:15px;
	top:90px;
	}

#menu .btn#add {
	display:block;
	background:url(../assets/icon_add.svg) no-repeat 8px 6px;
	background-size:14px 14px;
	width:120px;
	right:15px;
	top:125px;
	}

#anno {
	z-index:1000;
	display:none;
	position:absolute;
	width:300px;
	font-size:0.725rem;
	line-height:0.85rem;
	padding:30px;
	pointer-events:none;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	}

#anno #comment,
#anno .comment {
	position:relative;
	float:left;
	font-family:'Georgia', serif;
	padding:15px;
	}

#anno #detail {
	float:left;
	width:100%;
	padding:0;
	}

#anno #detail #user {
	padding:0 15px 15px;
	}

#anno #hover_tweet {
	float:left;
	display:none;
	background-image:url(../assets/icon_twitter.svg);
	width:20px;
	height:20px;
	margin:0 0 15px 15px;
	padding:0;
	cursor:pointer;
	}

#arrows {
	width:100%;
	top:50%;
	}

#legend_body {
	position:fixed;
	display:block;
	margin:0;
	padding:0;
	right:0;
	top:170px;
	}
#legend_body svg {
	background:transparent;
	width:175px;
	height:63px;
	}
#legend_body text {
	stroke:none;
	fill:white;
	font-size:0.55rem;
	}
#legend_body text.legend_hex_txt {
	text-anchor:middle;
	}


.legend_body,
#legend_mobile .legend_body {
	display:none;
	position:absolute;
	stroke:white;
	margin-left:-30px;
	margin-top:12px;
	}
.legend_body,
#legend_mobile.show .legend_body {
	display:block;
	}

.math .legend_body,
.math #legend_mobile .legend_body {
	fill:#52849d;
	}
.science .legend_body,
.science #legend_mobile .legend_body {
	fill:#8b3d7b;
	}

.legend_bknd {
	position:absolute;
	background:transparent;
	}

.legend_g {
	display:block;
	}

/*.legend_g_txt {
	font-size:0.55rem;
	stroke:none;
	fill:white;
	}*/

/*.legend_g_line {
	stroke:white;
	stroke-width:1;
	}*/

#legend_body .legend_hex {
	fill:white;
	stroke:white;
	stroke-width:0.5;
	stroke-opacity:1;
	}
#legend .legend_hex_txt,
#legend_mobile .legend_hex_txt {
	font-size:0.55rem;
	text-anchor:middle;
	fill:white;
	stroke:none;
	}
#legend .legend_hex_arr {
	stroke:white;
	stroke-width:0.5;
	}

#sampled {
	display:none;
	font-family:'FuturaLT-Light';
	font-size:0.6rem;
	font-style:italic;
	top:135px;
	left:15px;
	}
#sampled.visible {
	display:block;
	}

#arrows .arrow {
	display:none;
	position:absolute;
	background-image:url(../assets/grade_arrows.svg);
	background-repeat:no-repeat;
	background-size:14px 180px;
	background-position:36px 9px;
	width:45px;
	font-size:0.65rem;
	top:50%;
	padding:60px 15px 0;
	cursor:pointer;
	}
#arrows .arrow.visible {
	display:block;
	}
#arrows .arrow#left {
	background-position:24px -124px;
	text-align:left;
	left:0;
	}
#arrows .arrow#right {
	background-position:36px 9px;
	text-align:right;
	right:0;
	}

/*	TITLE & NAVIGATION -- MOBILE
	----------------------------- */

.nav_mobile {
	display:none;
	}

.nav_mobile #hamburger {
	background-image:url(../assets/hamburger.svg);
	background-repeat:no-repeat;
	background-position: 2px 5px;
	background-size:28px 22px;
	z-index:50000;
	position:fixed;
	width:32px;
	height:32px;
	right:15px;
	top:15px;
	border-radius:2px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	cursor:pointer;
	}
.math .nav_mobile #hamburger {
	background-color:#52849d;
	}
.science .nav_mobile #hamburger {
	background-color:#8b3d7b;
	}
.nav_mobile #hamburger.xout {
	background-image:url(../assets/hamburger_xout.svg);
	}

.nav_mobile .btn {
	position:fixed;
	font-size:0.7rem;
	cursor:pointer;
	}
.nav_mobile .btn.mobile {
	left:15px;
	padding:6px 15px 6px 0;
	border-radius:15px;
	}
.nav_mobile #mode_mobile {
	z-index:70;
	background:url(../assets/icon_switch.svg) no-repeat 7px 6px;
	background-size:16px 16px;
	top:15px;
	padding-left:30px;
	}
.nav_mobile #mode_mobile .mode_cur,
.nav_mobile #mode_mobile .mode_opp {
	font-weight:bold;
	}
.nav_mobile #comments {
	z-index:70;
	background:none;
	top:54px;
	padding-left:9px;
	}

.nav_mobile#comments_panel {
	display:none;
	width:100%;
	height:100%;
	}

.nav_mobile#comments_panel .panel {
	z-index:60;
	position:relative;
	background:white;
	width:100%;
	height:auto;
	}

.nav_mobile#comments_panel .panel .comment_block {
	float:left;
	width:100%;
	font-size:0.6rem;
	font-family:'Georgia', serif;
	padding:15px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	}
.math .nav_mobile#comments_panel .panel .comment_block {
	color:#52849d;
	}
.science .nav_mobile#comments_panel .panel .comment_block {
	color:#8b3d7b;
	}

.nav_mobile#comments_panel .panel .comment_block span {
	float:left;
	width:100%;
	}
.nav_mobile#comments_panel .panel .comment_block span.mobile_comment_user {
	font-family:sans-serif;
	font-weight:bold;
	padding-bottom:6px;
	}

.nav_mobile #legend_mobile {
	z-index:70;
	top:93px;
	padding-left:9px;
    padding-right:33px;
	}
.nav_mobile #legend_mobile .legend_body {
	position:absolute;
	width:330px;
	left:30px;
	}
.nav_mobile #legend_mobile svg {
	background:transparent;
	stroke:white;
	stroke-width:1;
	}
.nav_mobile #legend_mobile svg rect {
	fill-opacity:0.8;
	stroke:none;
	}
.nav_mobile #legend_mobile svg path {
	fill:white;
	}
.nav_mobile #legend_mobile svg text {
	fill:white;
	fill-opacity:1;
	stroke:none;
	}
.nav_mobile #legend_mobile svg text.legend_hex_txt {
	text-anchor:middle;
	}

/*	FORM
	----------------------------- */

textarea,
textarea:focus,
select,
select:focus,
input,
input:focus {
	outline:none;
	}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
	}

.form {
	z-index:10000;
	display:block;
	position:absolute;
	background:white;
	width:500px;
	margin:0 auto;
	box-shadow: 0 0 30px rgba(0,0,0,0.25);
	}
.form.hidden {
	display:none;
	}

.form select {
	background-image:url(../assets/dd_arrow.svg);
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:147px 1px;
	width:172px;
	left:294px;
	padding-left:6px;
	border:none !important;
	cursor:pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	}
.form .input.select {
	background:white;
	border:1px solid black;
	}
.form select option {
	border:none;
	box-shadow:none;
	}

.form button {
	background:black;
	color:white;
	font-family:'FuturaLT-Book';
	font-size:0.65rem;
	padding:5px 30px 4px;
	border:none;
	border-radius:15px;
	cursor:pointer;
	}

.form textarea {
	height:100%;
	padding:3px 0 3px 6px;
	border:1px solid black;
	resize:none;
	}
.form textarea.body {
	width:100%;
	width:calc(100% - 12px);
	padding-bottom:36px;
	}

input[type=radio]:not(old){
	width:18px;
	opacity:0;
	margin:0;
	padding:0;
	cursor:pointer;
	}
input[type=radio]:not(old) + label{
	display:inline-block;
	margin-left:-18px;
	padding-left:18px;
	background-image:url(../assets/icon_radio.svg);
	background-size:13px 30px;
	background-position:0 0;
	background-repeat:no-repeat;
	line-height:15px;
	}
input[type=radio]:not(old):checked + label{
	background-position:0 -17px;
	}

input.second {
	margin-left:15px !important;
	}

.form .section {
	width:100%;
	padding:30px 0;
	border-top:1px solid #eee;
	}
.form .section:last-child {
	text-align:center;
	padding-top:0;
	border-top:none;
	}

.form .elem {
	padding:30px 24px;
	font-size:0.6rem;
	}

.form .elem.header {
	font-size:1rem;
	font-weight:bold;
	letter-spacing:0.05em;
	margin-left:24px;
	padding:24px 0;
	}

.form .row {
	width:100%;
	float:left;
	padding:6px 0;
	}

.form .tag {
	float:left;
	color:#aaa;
	font-size:0.45rem;
	font-weight:bold;
	letter-spacing:0.125em;
	text-transform:uppercase;
	width:auto;
	}

.form .input {
	position:absolute;
	line-height:1rem;
	margin-top:-0.2rem;
	left:300px;
	right:auto;
	}

#form {
	height:auto;
	}
#form .section.mid {
	padding-bottom:15px;
	}

#form_tweet {
	height:auto;
	}
#form_tweet .section:first-child {
	padding-bottom:21px;
	}

.input.gender {
	margin-left:-2px;
	}

/*	HEXAGONS
	----------------------------- */

.hexTTG {
	opacity:1;
	pointer-events:none;
	}
.hexTTG.hidden {
	opacity:0;
	}
.hexTTG .hexTTback {
	fill-opacity:1;
	}
.hexTTG .hexTT {
	fill:white;
	stroke-width:3;
	}

.hexG {
	fill:white;
	text-anchor:middle;
	}

.hex {
	fill:white;
	stroke:white;
	stroke-width:0.5;
	stroke-opacity:1;
	cursor:pointer;
	}

.hexLabel,
.hexLabel_ {
	fill:white;
	fill-opacity:1;
	font-size:0.9rem;
	letter-spacing:0.025rem;
	}
.hexLabel.sub {
	font-size:0.725rem;
	}

/*	FLUIDITY
	----------------------------- */

@media (max-width:768px) { 
	/* smartphones, iPhone, portrait 480x320 phones */

	.form {
		width:100%;
		}

	.form .tag {
		width:50%;
		}

	.form .input {
		left:auto;
		right:30px;
		}

	.nav_mobile {
		display:block;
		}

	#anno {
		display:block;
		position:fixed;
		width:100%;
		font-size:0.725rem;
		top:auto !important;
		right:0;
		bottom:0 !important;
		left:0 !important;
		padding:15px;
		pointer-events:none;
		}
	#anno #comment,
	#anno .comment {
		position:static;
		padding:0;
		}
	#anno #detail {
		padding-bottom:0;
		}
	#anno #detail #user {
		padding:15px 15px 15px;
		}

	#sampled,
	#sampled.visible {
		display:none;
		}
	#title,
	.nav.link {
		display:none;
		}

	#menu {
		display:none;
		width:100%;
		height:100%;
		}
	
	#menu .btn.view {
		display:none;
		}

	#menu .btn.filter {
		background-image:url(../assets/icon_filter.svg);
		background-size:30px 30px;
		background-position:12px 14px;
		width:80%;
		width:calc(100% - 36px);
		height:auto;
		font-size:1.325rem;
		padding:11px 0 10px 60px;
		border:2px solid white;
		/*border:none;
		border-radius:60px;*/
		}
	#menu .btn.filter.selected {
		background-size:36px 36px;
		background-position:10px 12px;
		}
	#menu .btn.filter.selected.math {
		background-image:url(../assets/icon_filter_math.svg);
		}
	#menu .btn.filter.selected.science {
		background-image:url(../assets/icon_filter_science.svg);
		}

	#menu .btn.filter#gender {
		left:18px;
		top:150px;
		}
	#menu .btn.filter#grade {
		left:18px;
		top:216px;
		}
	#menu .btn.filter#country {
		display:none;
		left:18px;
		top:282px;
		}

	#menu .btn.filter .expand {
		left:-2px;
		top:58px;
		max-height:150px;
		width:100%;
		width:calc(100% + 4px);
		border:2px solid white;
		border-top:2px solid white;
		}

	.math #menu .btn.filter .expand {
		background:transparent;
		}
	.science #menu .btn.filter .expand {
		background:transparent;
		}
	
	#menu .btn.filter .expand .counter {
		width:100%;
		width:calc(100% - 76px);
		font-size:0.8rem;
		text-transform:none;
		}

	#menu .btn#add {
		width:100%;
		width:calc(100% - 60px);
		top:400px;
		top:calc(100% - 120px);
		}

	#menu .btn.clear {
		display:none;
		font-size:0.5rem;
		left:15px;
		top:auto;
		bottom:15px;
		border-radius:30px;
		}
	#menu .btn.clear.visible {
		display:block;
		}

	#legend {
		display:none;
		left:0;
		}

	.hexLabel,
	.hexLabel_ {
		font-size:0.725rem;
		}
	.hexLabel.sub {
		font-size:0.65rem;
		}

	#anno #hover_tweet {
		margin:0 0 0 15px;
		}
	}

@media (min-width:768px) { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

	.form {
		width:500px;
		}

	.form .tag {
		width:auto;
		}

	.form .input {
		left:300px;
		right:auto;
		}

	.nav_mobile {
		display:none;
		}

	#anno {
		display:none;
		position:absolute;
		background:transparent;
		width:300px;
		font-size:0.725rem;
		bottom:auto;
		padding:0;
		pointer-events:all;
		}
	#anno #comment,
	#anno .comment {
		position:relative;
		padding:15px;
		}
	#anno #detail {
		padding-bottom:0;
		}
	#anno #detail #user {
		padding:0 15px 15px;
		}

	#sampled {
		top:240px;
		}
	#sampled.visible {
		display:block;
		}

	#title,
	.nav.link {
		display:block;
		}

	#menu {
		width:auto;
		height:auto;
		}
	
	#menu .btn.view {
		display:block;
		}

	#menu .btn.filter {
		background-image:url(../assets/icon_filter.svg);
		background-size:15px 15px;
		background-position:6px 6px;
		width:135px;
		height:30px;
		font-size:0.725rem;
		padding:4px 0 6px 33px;
		border:1px solid white;
		/*border:none;
		border-radius:15px;*/
		}	
	#menu .btn.filter.selected {
		background-size:17px 17px;
		background-position:6px 6px;
		}
	#menu .btn.filter.selected.math {
		background-image:url(../assets/icon_filter_math.svg);
		}
	#menu .btn.filter.selected.science {
		background-image:url(../assets/icon_filter_science.svg);
		}

	#menu .btn.filter#gender {
		left:15px;
		top:90px;
		}
	#menu .btn.filter#grade {
		left:15px;
		top:126px;
		}
	#menu .btn.filter#country {
		display:block;
		left:15px;
		top:162px;
		}

	#menu .btn.filter .expand {
		left:-1px;
		top:29px;
		max-height:180px;
		width:135px;
		border:1px solid white;
		border-top:none;
		}

	.math #menu .btn.filter .expand {
		background:#6698b1;
		}
	.science #menu .btn.filter .expand {
		background:#9f518f;
		}
	
	#menu .btn.filter .expand .counter {
		width:auto;
		font-size:0.5rem;
		text-transform:uppercase;
		}

	#menu .btn#add {
		width:120px;
		top:125px;
		}

	#menu .btn.clear {
		display:none;
		font-size:0.4rem;
		left:15px;
		top:214px;
		bottom:auto;
		border-radius:12px;
		}
	#menu .btn.clear.visible {
		display:block;
		}

	#legend {
		display:block;
		left:162px;
		}

	.hexLabel,
	.hexLabel_ {
		font-size:0.9rem;
		}
	.hexLabel.sub {
		font-size:0.725rem;
		}

	#anno #hover_tweet {
		margin:0 0 15px 15px;
		}
	}

@media (min-width:1024px) { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

	.form {
		width:500px;
		}

	.form .tag {
		width:auto;
		}

	.form .input {
		left:300px;
		right:auto;
		}
	
	.nav_mobile {
		display:none;
		}

	#anno {
		display:none;
		position:absolute;
		background:transparent;
		width:300px;
		font-size:0.725rem;
		bottom:auto;
		padding:0;
		pointer-events:all;
		}
	#anno #comment,
	#anno .comment {
		position:relative;
		padding:15px;
		}
	#anno #detail {
		padding-bottom:0;
		}
	#anno #detail #user {
		padding:0 15px 15px;
		}

	#sampled {
		top:135px;
		}
	#sampled.visible {
		display:block;
		}

	#title,
	.nav.link {
		display:block;
		}

	#menu {
		width:auto;
		height:auto;
		}
	
	#menu .btn.view {
		display:block;
		}

	#menu .btn.filter {
		background-image:url(../assets/icon_filter.svg);
		background-size:15px 15px;
		background-position:6px 6px;
		width:135px;
		height:30px;
		font-size:0.725rem;
		padding:4px 0 6px 33px;
		border:1px solid white;
		/*border:none;
		border-radius:15px;*/
		}
	#menu .btn.filter.selected {
		background-size:17px 17px;
		background-position:6px 6px;
		}
	#menu .btn.filter.selected.math {
		background-image:url(../assets/icon_filter_math.svg);
		}
	#menu .btn.filter.selected.science {
		background-image:url(../assets/icon_filter_science.svg);
		}

	#menu .btn.filter#gender {
		left:15px;
		top:90px;
		}
	#menu .btn.filter#grade {
		left:156px;
		top:90px;
		}
	#menu .btn.filter#country {
		display:block;
		left:297px;
		top:90px;
		}

	#menu .btn.filter .expand {
		left:-1px;
		top:29px;
		max-height:180px;
		width:135px;
		border:1px solid white;
		border-top:none;
		}

	.math #menu .btn.filter .expand {
		background:#6698b1;
		}
	.science #menu .btn.filter .expand {
		background:#9f518f;
		}
	
	#menu .btn.filter .expand .counter {
		width:auto;
		font-size:0.5rem;
		text-transform:uppercase;
		}

	#menu .btn#add {
		width:120px;
		top:125px;
		}

	#menu .btn.clear {
		display:none;
		font-size:0.4rem;
		left:450px;
		top:90px;
		bottom:auto;
		border-radius:12px;
		}
	#menu .btn.clear.visible {
		display:block;
		}

	#legend {
		display:block;
		left:438px;
		}

	.hexLabel,
	.hexLabel_ {
		font-size:0.9rem;
		}
	.hexLabel.sub {
		font-size:0.725rem;
		}

	#anno #hover_tweet {
		margin:0 0 15px 15px;
		}
	}