html,
body {
	width:100%;
	height:100%;
	font-family:'Arial',sans-serif;
	font-size:20px;
	margin:0;
	padding:0;
	}

div {
	display:block;
	float:left;
	margin:0;
	padding:0;
	}

.b {
	font-weight:bold;
	}

#container {
	width:100%;
	height:100%;
	}

/*	TITLE & NAVIGATION
	----------------------------- */

.nav {
	position:absolute;
	color:white;
	fill:white;
	letter-spacing:0.025rem;
	}

#title {
	display:block;
	font-size:0.8rem;
	left:15px;
	top:24px;
	}

#menu {
	z-index:10;
	position:absolute;
	width:auto;
	height:auto;
	}

#menu .btn {
	position:fixed;
	color:white;
	font-size:0.6rem;
	/*padding:6px 15px;*/
	top:54px;
	border:1px solid white;
	cursor:pointer;
	}
#menu .btn.view {
	display:block;
	padding:6px 0 6px 30px;
	width:90px;
	border-radius:15px;
	}
#menu .btn.filter {
	opacity:1;
	background:url(../assets/icon_filter.svg) no-repeat 6px 5px;
	background-size:16px 16px;
	background-color:transparent;
	padding:6px 0 6px 30px;
	width:120px;
	font-size:0.6rem;
	border:1px solid white;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	}
#menu .btn.filter.selected {
	opacity:1;
	background-color:white;
	}
#menu .btn.filter.deactivated {
	opacity:0.5;
	pointer-events:none;
	}
#menu .btn.clear {
	display:none;
	font-size:0.4rem;
	text-transform:uppercase;
	left:420px;
	top:66px;
	bottom:auto;
	padding:3px 6px 2px;
	border-radius:9px;
	}
#menu .btn.clear.visible {
	display:block;
	}

#menu .btn.filter#gender {
	left:15px;
	}

#menu .btn.filter#country {
	left:150px;
	}

#menu .btn.filter#grade {
	left:285px;
	}

#menu .btn#mode {
	background:url(../assets/icon_switch.svg) no-repeat 6px 5px;
	background-size:16px 16px;
	right:15px;
	}

#menu .btn#add {
	display:block;
	background:url(../assets/icon_add.svg) no-repeat 8px 6px;
	background-size:14px 14px;
	right:15px;
	top:90px;
	}

#anno {
	background:transparent;
	width:500px;
	font-size:0.6rem;
	right:15px;
	bottom:24px;
	padding:0;
	pointer-events:none;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
	box-sizing:border-box;
	}

#anno #comment,
#anno .comment {
	font-family:'Georgia', serif;
	padding-top:30px;
	padding-bottom:15px;
	}

#anno #detail {
	width:100%;
	padding-top:16px;
	padding-bottom:0;
	border-top:1px solid white;
	}

#arrows {
	width:100%;
	top:50%;
	}

#legend {
	position:fixed;
	display:block;
	z-index:100;
	font-size:0.6rem;
	margin-left:15px;
	bottom:0;
	cursor:default;
	}
#legend.expanded {
	}
#legend.show {
	bottom:90px;
	}
#legend .comp {
	position:fixed;
	border:1px solid white;
	}
#legend_tab {
	width:120px;
	height:30px;
	margin-top:-30px;
	padding:8px 9px 0;
	}
#legend #legend_body {
	width:174px;
	height:90px;
	}
#legend.expanded #legend_body {
	width:351px;
	}

.legend_g {
	display:none;
	}
.legend_g.show {
	display:block;
	}

.legend_g_txt {
	font-size:0.5rem;
	}

#legend .legend_hex {
	fill:white;
	stroke:white;
	stroke-width:0.5;
	stroke-opacity:1;
	}

#sampled {
	display:none;
	font-size:0.5rem;
	font-style:italic;
	top:105px;
	left:15px;
	}
#sampled.visible {
	display:block;
	}

#arrows .arrow {
	display:none;
	position:absolute;
	width:45px;
	height:30px;
	font-size:0.75rem;
	top:50%;
	padding:15px;
	cursor:pointer;
	}
#arrows .arrow.visible {
	display:block;
	}
#arrows .arrow#left {
	text-align:left;
	left:0;
	}
#arrows .arrow#right {
	text-align:right;
	right:0;
	}

/*	TITLE & NAVIGATION -- MOBILE
	----------------------------- */

.nav_mobile {
	display:none;
	}

.nav_mobile #hamburger {
	z-index:50;
	position:fixed;
	background:white;
	width:45px;
	height:45px;
	right:30px;
	top:30px;
	cursor:pointer;
	}
.nav_mobile #hamburger.xout {
	background:black;
	}

.nav_mobile .btn {
	position:fixed;
	font-size:0.7rem;
	cursor:pointer;
	}
.nav_mobile .btn.mobile {
	left:15px;
	padding:6px 15px 6px 0;
	border-radius:15px;
	}
.nav_mobile #mode_mobile {
	background:url(../assets/icon_switch.svg) no-repeat 7px 6px;
	background-size:16px 16px;
	top:15px;
	padding-left:30px;
	}
.nav_mobile #mode_mobile .mode_cur,
.nav_mobile #mode_mobile .mode_opp {
	font-weight:bold;
	}
.nav_mobile #comments {
	background:none;
	top:48px;
	padding-left:15px;
	}

/*	FORM
	----------------------------- */

.form {
	display:block;
	position:absolute;
	background:white;
	width:500px;
	margin:0 auto;
	}
.form.hidden {
	display:none;
	}

.form select {
	width:120px;
	}

.form button {
	cursor:pointer;
	}

.form .section {
	width:100%;
	padding:30px 0;
	border-top:1px solid gray;
	}

.form .elem {
	padding:30px 24px;
	font-size:0.6rem;
	}

.form .elem.header {
	font-size:1rem;
	margin-left:24px;
	padding:24px 0;
	}

.form .row {
	width:100%;
	float:left;
	}

.form .tag {
	color:gray;
	font-size:0.5rem;
	letter-spacing:1px;
	text-transform:uppercase;
	}

#form {
	height:400px;
	}

#form_tweet {
	height:250px;
	}

/*	HEXAGONS
	----------------------------- */

svg {
	display:block;
	background:blue;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	shape-rendering:geometricPrecision;
	}

.hexTTG {
	opacity:1;
	pointer-events:none;
	}
.hexTTG.hidden {
	opacity:0;
	}
.hexTTG .hexTTback {
	}
.hexTTG .hexTT {
	fill:white;
	stroke-width:3;
	}

.hexG {
	fill:white;
	text-anchor:middle;
	}

.hexesGT {
	text-anchor:start;
	font-size:0.8rem;
	}
.hexesGGT {
	font-size:0.6rem;
	}

.hex {
	fill:white;
	stroke:white;
	stroke-width:0.5;
	stroke-opacity:1;
	cursor:pointer;
	}

/*	FLUIDITY
	----------------------------- */

@media (max-width:768px) { 
	/* smartphones, iPhone, portrait 480x320 phones */

	.nav_mobile {
		display:block;
		}

	#anno {
		width:100%;
		font-size:0.8rem;
		right:0;
		bottom:0;
		padding:15px;
		}
	#anno #detail {
		padding-bottom:15px;
		border-top:none;
		}

	#sampled,
	#sampled.visible {
		display:none;
		}

	#title {
		display:none;
		}

	#menu {
		display:none;
		width:100%;
		height:100%;
		}
	
	#menu .btn.view {
		display:none;
		}

	#menu .btn.filter {
		background:url(../assets/icon_filter.svg) no-repeat 12px 24px;
		background-size:30px 30px;
		width:80%;
		width:calc(100% - 36px);
		font-size:1.2rem;
		padding:27px 0 24px 60px;
		border:2px solid white;
		}	

	#menu .btn.filter#gender {
		left:18px;
		top:120px;
		}
	#menu .btn.filter#country {
		left:18px;
		top:210px;
		}
	#menu .btn.filter#grade {
		left:18px;
		top:300px;
		}

	#menu .btn#add {
		display:none;
		}

	#menu .btn.clear {
		display:none;
		font-size:1rem;
		left:15px;
		top:auto;
		bottom:30px;
		padding:13px 18px 12px;
		border-radius:24px;
		}
	#menu .btn.clear.visible {
		display:block;
		}

	#legend {
		display:none;
		}

	.hexesGT {
		text-anchor:end;
		}
	}

@media (min-width:768px) { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	
	.nav_mobile {
		display:none;
		}

	#anno {
		background:transparent;
		width:300px;
		font-size:0.6rem;
		right:15px;
		bottom:24px;
		padding:0;
		}
	#anno #detail {
		padding-bottom:0;
		border-top:1px solid white;
		}

	#sampled {
		top:195px;
		}
	#sampled.visible {
		display:block;
		}

	#title {
		display:block;
		}

	#menu {
		width:auto;
		height:auto;
		}
	
	#menu .btn.view {
		display:block;
		}

	#menu .btn.filter {
		background:url(../assets/icon_filter.svg) no-repeat 6px 5px;
		background-size:16px 16px;
		width:120px;
		font-size:0.6rem;
		padding:6px 0 6px 30px;
		border:1px solid white;
		}	

	#menu .btn.filter#gender {
		left:15px;
		top:54px;
		}
	#menu .btn.filter#country {
		left:15px;
		top:126px;
		}
	#menu .btn.filter#grade {
		left:15px;
		top:90px;
		}

	#menu .btn#add {
		display:block;
		}

	#menu .btn.clear {
		display:none;
		font-size:0.4rem;
		left:15px;
		top:170px;
		bottom:auto;
		padding:3px 6px 2px;
		border-radius:9px;
		}
	#menu .btn.clear.visible {
		display:block;
		}

	#legend {
		display:block;
		}

	.hexesGT {
		text-anchor:end;
		}
	}

@media (min-width:1024px) { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	
	.nav_mobile {
		display:none;
		}

	#anno {
		background:transparent;
		width:500px;
		font-size:0.6rem;
		right:15px;
		bottom:24px;
		padding:0;
		}
	#anno #detail {
		padding-bottom:0;
		border-top:1px solid white;
		}

	#sampled {
		top:105px;
		}
	#sampled.visible {
		display:block;
		}

	#title {
		display:block;
		}

	#menu {
		width:auto;
		height:auto;
		}
	
	#menu .btn.view {
		display:block;
		}

	#menu .btn.filter {
		background:url(../assets/icon_filter.svg) no-repeat 6px 5px;
		background-size:16px 16px;
		width:120px;
		font-size:0.6rem;
		padding:6px 0 6px 30px;
		border:1px solid white;
		}	

	#menu .btn.filter#gender {
		left:15px;
		top:54px;
		}
	#menu .btn.filter#country {
		left:150px;
		top:54px;
		}
	#menu .btn.filter#grade {
		left:285px;
		top:54px;
		}

	#menu .btn#add {
		display:block;
		}

	#menu .btn.clear {
		display:none;
		font-size:0.4rem;
		left:420px;
		top:66px;
		bottom:auto;
		padding:3px 6px 2px;
		border-radius:9px;
		}
	#menu .btn.clear.visible {
		display:block;
		}

	#legend {
		display:block;
		}

	.hexesGT {
		text-anchor:start;
		}
	}