html,
body {
	width:100%;
	height:100%;
	background:gray;
	margin:0;
	padding:0;
	}

div {
	display:block;
	float:left;
	margin:0;
	padding:0;
	}

#container {
	width:100%;
	height:100%;
	}

svg {
	display:block;
	background:blue;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	}

.hexmesh {
	fill:none;
	stroke:white;
	stroke-width:0.5;
	}

.hex {
	fill:white;
	stroke:white;
	stroke-width:0.5;
	stroke-opacity:1;
	}